<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album de Imagens</title>
    <link rel="stylesheet" href="/styles/style_album.css">
</head>
<body>
    
        
        <div id="borda">
            <header><h1>Álbum de Imagens</h1></header>
            <div class="container">
                <div class="um box"><img src="/Imagens/Imagem1.jpg" alt=""></div>
                <div class="dois box"><img src="/Imagens/Imagem2.jpg" alt=""></div>
                <div class="tres box"><img src="/Imagens/Imagem3.jpg" alt=""></div>
                <div class="quatro box"><img src="/Imagens/Imagem4.jpg" alt=""></div>
                <div class="cinco box"><img src="/Imagens/Imagem5.jpg" alt=""></div>
                <div class="sete box"><img src="/Imagens/Imagem7.jpg" alt=""></div>
            
                <div class="seis box"><img src="/Imagens/Imagem6.jpg" alt=""></div>
                <div class="oito box"><img src="/Imagens/Imagem8.jpg" alt=""></div>
                <div class="nove box"><img src="/Imagens/Imagem9.jpg" alt=""></div>
                <div class="dez box"><img src="/Imagens/Imagem10.jpg" alt=""></div>
                
                        
            </div>
            
        </div>
    
</body>
</html>