<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    <link rel="stylesheet" href="/styles/style_media.css">
</head>
<body>
    <header>Calculando Média</header>
    <section>
        <div class="num">
            
            <div class="nums">
                Digite o 1º número:
                <input type="number" name="n1" id="n1">
            </div>
        
        
            <div class="nums">
                Digite o 2º número:
                <input type="number" name="n2" id="n2">
            </div>
        
            <div class="nums">
                Digite o 3º número:
                <input type="number" name="n3" id="n3">
            </div>
            
            <div id="botao"><button onclick="media()">Calcular Média</button></div>

        </div>
        <div id="res"></div>
    </section>
    
    <script src="/script.js"></script>
    
</body>
</html>