<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela Periodica</title>
    <link rel="stylesheet" href="/styles/style_tabela.css">
</head>
<body>
    
    <table>
        <caption>
            TABELA PERIÓDICA
        </caption>
        <tbody>
            <tr>
                <td class="n_met"><sup>1</sup>H<sub>1.00</sub></td>
                <td colspan="16" class="vazio"></td>
                <td class="gas_nob"><sup>2</sup>He<sub>4.00</sub></td>
            </tr>

            <tr>
                <td class="met_alc"><sup>3</sup>Li<sub>6.94</sub></td>
                <td class="alc_ter"><sup>4</sup>Be<sub>9.01</sub></td>
                <td colspan="10" rowspan="2" class="vazio">
                    <table cellpadding="0" id="tab">
                        <tr>
                            <td class="n_met">Não metais</td>
                            <td class="met_alc">Metais Alcalinos</td>
                            <td class="alc_ter">Alcalinos terrosos</td>
                            <td class="semi_met">Semimetais</td>
                            <td class="gas_nob">Gases Nobres</td>
                        </tr>
                        <tr>
                            <td class="hal">Halogênios</td>
                            <td class="met_trans">Metais Transição</td>
                            <td class="met_rep">Outros Metais</td>
                            <td class="lac">Lantanídeos</td>
                            <td class="act">Actinídios</td>
                        </tr>
                    </table>
                    
                </td>   
                </td>
                <td class="semi_met"><sup>5</sup>B<sub>10.81</sub></td>
                <td class="n_met"><sup>6</sup>C<sub>12.01</sub></td>
                <td class="n_met"><sup>7</sup>N<sub>14.00</sub></td>
                <td class="n_met"><sup>8</sup>O<sub>15.99</sub></td>
                <td class="hal"><sup>9</sup>F<sub>18.99</sub></td>
                <td class="gas_nob"><sup>10</sup>Ne<sub>20.18</sub></td>
            </tr>

            <tr>
                <td class="met_alc"><sup>11</sup>Na<sub>22.99</sub></td>
                <td class="alc_ter"><sup>12</sup>Mg<sub>24.30</sub></td>
                <td class="met_rep"><sup>13</sup>Al<sub>26,98</sub></td>
                <td class="semi_met"><sup>14</sup>Si<sub>28.08</sub></td>
                <td class="n_met"><sup>15</sup>P<sub>30.97</sub></td>
                <td class="n_met"><sup>16</sup>S<sub>32.06</sub></td>
                <td class="hal"><sup>17</sup>Cl<sub>35.45</sub></td>
                <td class="gas_nob"><sup>18</sup>Ar<sub>39.95</sub></td>
            </tr>

            <tr>
                <td class="met_alc"><sup>19</sup>K<sub>39.09</sub></td>
                <td class="alc_ter"><sup>20</sup>Ca<sub>40.07</sub></td>
                <td class="met_trans"><sup>21</sup>Sc<sub>44.95</sub></td>
                <td class="met_trans"><sup>22</sup>Ti<sub>47.86</sub></td>
                <td class="met_trans"><sup>23</sup>V<sub>50.94</sub></td>
                <td class="met_trans"><sup>24</sup>Cr<sub>51.99</sub></td>
                <td class="met_trans"><sup>25</sup>Mn<sub>54.93</sub></td>
                <td class="met_trans"><sup>26</sup>Fe<sub>55.84</sub></td>
                <td class="met_trans"><sup>27</sup>Co<sub>58.93</sub></td>
                <td class="met_trans"><sup>28</sup>Ni<sub>58.69</sub></td>
                <td class="met_trans"><sup>29</sup>Cu<sub>63.54</sub></td>
                <td class="met_trans"><sup>30</sup>Zn<sub>65.38</sub></td>
                <td class="met_rep"><sup>31</sup>Ga<sub>69.72</sub></td>
                <td class="semi_met"><sup>32</sup>Ge<sub>72.63</sub></td>
                <td class="semi_met"><sup>33</sup>As<sub>74.92</sub></td>
                <td class="n_met"><sup>34</sup>Se<sub>78.97</sub></td>
                <td class="hal"><sup>35</sup>Br<sub>79.90</sub></td>
                <td class="gas_nob"><sup>36</sup>Kr<sub>83.79</sub></td>
            </tr>

            <tr>
                <td class="met_alc"><sup>37</sup>Rb<sub>85.46</sub></td>
                <td class="alc_ter"><sup>38</sup>Sr<sub>87.62</sub></td>
                <td class="met_trans"><sup>39</sup>Y<sub>88.90</sub></td>
                <td class="met_trans"><sup>40</sup>Zr<sub>91.22</sub></td>
                <td class="met_trans"><sup>41</sup>Nb<sub>92.9</sub></td>
                <td class="met_trans"><sup>42</sup>Mo<sub>95.95</sub></td>
                <td class="met_trans"><sup>43</sup>Tc<sub>[97]</sub></td>
                <td class="met_trans"><sup>44</sup>Ru<sub>101.07</sub></td>
                <td class="met_trans"><sup>45</sup>Rh<sub>102.91</sub></td>
                <td class="met_trans"><sup>46</sup>Pd<sub>106.42</sub></td>
                <td class="met_trans"><sup>47</sup>Ag<sub>107.87</sub></td>
                <td class="met_trans"><sup>48</sup>Cd<sub>112.41</sub></td>
                <td class="met_rep"><sup>49</sup>In<sub>114.82</sub></td>
                <td class="met_rep"><sup>50</sup>Sn<sub>118.71</sub></td>
                <td class="semi_met"><sup>51</sup>Sb<sub>121.76</sub></td>
                <td class="semi_met"><sup>52</sup>Te<sub>127.60</sub></td>
                <td class="hal"><sup>53</sup>I<sub>126.90</sub></td>
                <td class="gas_nob"><sup>54</sup>Xe<sub>131.29</sub></td>   
            </tr>

            <tr>
                <td class="met_alc"><sup>55</sup>Cs<sub>132.91</sub></td>
                <td class="alc_ter"><sup>56</sup>Ba<sub>137.33</sub></td>
                <td class="lac">La</td>
                <td class="met_trans"><sup>72</sup>Hf<sub>178.49</sub></td>
                <td class="met_trans"><sup>73</sup>Ta<sub>180.95</sub></td>
                <td class="met_trans"><sup>74</sup>W<sub>183.84</sub></td>
                <td class="met_trans"><sup>75</sup>Re<sub>186.21</sub></td>
                <td class="met_trans"><sup>76</sup>Os<sub>190.23</sub></td>
                <td class="met_trans"><sup>77</sup>Ir<sub>192.22</sub></td>
                <td class="met_trans"><sup>78</sup>Pt<sub>195.08</sub></td>
                <td class="met_trans"><sup>79</sup>Au<sub>196.97</sub></td>
                <td class="met_trans"><sup>80</sup>Hg<sub>200.59</sub></td>
                <td class="met_rep"><sup>81</sup>Tl<sub>204.38</sub></td>
                <td class="met_rep"><sup>82</sup>Pb<sub>207.20</sub></td>
                <td class="met_rep"><sup>83</sup>Bi<sub>208.98</sub></td>
                <td class="semi_met"><sup>84</sup>Po<sub>[209]</sub></td>
                <td class="hal"><sup>85</sup>At<sub>[210]</sub></td>
                <td class="gas_nob"><sup>86</sup>Rn<sub>[222]</sub></td>   
            </tr>

            <tr>
                <td class="met_alc"><sup>87</sup>Fr<sub>[223]</sub></td>
                <td class="alc_ter"><sup>88</sup>Ra<sub>[226]</sub></td>
                <td class="act">Ac</td>
                <td class="met_trans"><sup>104</sup>Rf<sub>[267]</sub></td>
                <td class="met_trans"><sup>105</sup>Db<sub>[268]</sub></td>
                <td class="met_trans"><sup>106</sup>Sg<sub>[269]</sub></td>
                <td class="met_trans"><sup>107</sup>Bh<sub>[270]</sub></td>
                <td class="met_trans"><sup>108</sup>Hs<sub>[269]</sub></td>
                <td class="met_trans"><sup>109</sup>Mt<sub>[277]</sub></td>
                <td class="met_trans"><sup>110</sup>Ds<sub>[281]</sub></td>
                <td class="met_trans"><sup>111</sup>Rg<sub>[282]</sub></td>
                <td class="met_trans"><sup>112</sup>Cn<sub>[285]</sub></td>
                <td class="met_rep"><sup>113</sup>Nh<sub>[286]</sub></td>
                <td class="met_rep"><sup>114</sup>Fl<sub>[290]</sub></td>
                <td class="met_rep"><sup>115</sup>Mc<sub>[290]</sub></td>
                <td class="met_rep"><sup>116</sup>Lv<sub>[293]</sub></td>
                <td class="hal"><sup>117</sup>Ts<sub>[294]</sub></td>
                <td class="gas_nob"><sup>118</sup>Og<sub>[294]</sub></td>  
            </tr>

            <tr>
                <td colspan="18" class="vazio" id="espaco"></td>
            </tr>

            <tr class="lac">
                <td colspan="3" rowspan="2" class="vazio" id="esp"></td>
                <td><sup>57</sup>La<sub>138.91</sub></td>
                <td><sup>58</sup>Ce<sub>140.12</sub></td>
                <td><sup>59</sup>Pr<sub>140.91</sub></td>
                <td><sup>60</sup>Nd<sub>144.24</sub></td>
                <td><sup>61</sup>Pm<sub>[145]</sub></td>
                <td><sup>62</sup>Sm<sub>150.36</sub></td>
                <td><sup>63</sup>Eu<sub>151.96</sub></td>
                <td><sup>64</sup>Gd<sub>157.25</sub></td>
                <td><sup>65</sup>Tb<sub>158.93</sub></td>
                <td><sup>66</sup>Dy<sub>162.50</sub></td>
                <td><sup>67</sup>Ho<sub>164.93</sub></td>
                <td><sup>68</sup>Er<sub>167.26</sub></td>
                <td><sup>69</sup>Tm<sub>168.93</sub></td>
                <td><sup>70</sup>Yb<sub>173.05</sub></td>
                <td><sup>71</sup>Lu<sub>174.97</sub></td>
            </tr>

            <tr class="act">
                <td><sup>89</sup>Ac<sub>[227]</sub></td>
                <td><sup>90</sup>Th<sub>232.04</sub></td>
                <td><sup>91</sup>Pa<sub>231.04</sub></td>
                <td><sup>92</sup>U<sub>238.03</sub></td>
                <td><sup>93</sup>Np<sub>[237]</sub></td>
                <td><sup>94</sup>Pu<sub>[244]</sub></td>
                <td><sup>95</sup>Am<sub>[243]</sub></td>
                <td><sup>96</sup>Cm<sub>[247]</sub></td>
                <td><sup>97</sup>Bk<sub>[247]</sub></td>
                <td><sup>98</sup>Cf<sub>[251]</sub></td>
                <td><sup>99</sup>Es<sub>[252]</sub></td>
                <td><sup>100</sup>Fm<sub>[257]</sub></td>
                <td><sup>101</sup>Md<sub>[258]</sub></td>
                <td><sup>102</sup>No<sub>[259]</sub></td>
                <td><sup>103</sup>Lr<sub>[262]</sub></td>
            </tr>
        </tbody>
    </table>
    
    
</body>
</html>